<div class="backgroundImage"></div>

<div class="container">
    <h3 style="margin-bottom: 5%;">LOGIN</h3>
{{!-- register form starts from here --}}
    <form action="/login" method="post">
        {{!-- number input --}}

        {{#if emptyStatus}}
            <div class="d-inline-flex p-1 bg-danger text-white">All fields are necessary</div>
        {{/if}}

        {{#if authentic}}
            <div class="d-inline-flex p-1 bg-danger text-white">{{nack}}</div>
        {{/if}}

        <div class="form-group">
        <strong><label for="registerNumber">Enter Number</label></strong>
        <input type="text" name="number" id="registerNumber" class="form-control">
        </div>
        {{!-- password input --}}
        <div class="form-group">
        <strong><label for="password">Enter Password</label></strong>
        <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="../register"><button type="button" class="btn btn-info" style="margin-left:10%;">Register</button></a> <span style="color: #4e7322;">If not Register</span>
    </form>
</div>