.backgroundImage {
    background-image: url('/images/map.png');
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.container {
    width: 50%;
    background: #e2e6e8;
    padding: 1% 3% 3% 3%;
    width: 30%;
    border-radius: 3%;
    position: absolute;
    top: 23%;
    left: 35%;
}